* {
    font-family: 'Asap', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.todo__container {
    background-color: #000;
    width: 400px;
    border-radius: 8px;
    padding: 25px;
}
form {
    margin-top: 20px;
}
input {
    padding: 10px;
    width: 200px;
    border: 0px;
    border-radius: 2px;
}
.btn {
    color: #fff;
    background-color: pink;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;;
}
ul {
    margin-top: 25px;
}
li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fff;
    list-style: none;
    background-color: rgba(3, 3, 129, 0.425);
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 8px;
}
.btn__delete {
    color: #fff;
    background-color: rgba(255, 192, 203, 0.144);
    text-decoration: none;
}